* {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧀</text></svg>") 16 0,auto; 
}


body {
    font-family: 'Red Hat Display', sans-serif;
    background: black;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/619/069/original/vector-city-skylines-at-night-urban-scene.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Headings */

h1 {
    text-align: center;
    font-size: 60px;
    margin: 10px;
    padding: 5px;
    background: black;
    font-weight: normal;
}

.green {
    color: #D4D955;
}

.white {
    color: white;
}

h2, h3 {
    text-align: center;
    font-weight: bold;
}

/* Column divs */

.row {
    width: 100%;
}

.column {
    border: 2px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
    background: white;
}

.middle {
    width: 50%;
}

.left, .right {
    width: 21%;
    height: 750px;
    overflow-y: scroll;
}

.left img {
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.middle img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Lists */

.middle ul {
    list-style-position: inside;
    list-style: "🌭  ";
    margin-left: 5px;
}

.right ul {
    list-style-position: inside;
    list-style: "🍕  ";
    margin-left: 5px;
}

